body {
    font-family: Arial, sans-serif;
    background-color: #E3F2FD; /* Ніжно голубий фон */
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #FFEBEE; /* Ніжно рожевий */
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #0288D1; /* Темний блакитний для заголовка */
}

main {
    padding: 20px;
    text-align: center;
}

.product {
    margin: 20px 0;
}

.product img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact, .social {
    margin: 20px 0;
}

.social a {
    text-decoration: none;
    color: #0288D1;
    font-weight: bold;
}

footer {
    background-color: #0288D1;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
